* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(purple,#551c69, #4aa5dc, blue);
}

header {
    height: 65px;
    margin: auto;
    background-color: black;
    color: aqua;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100vw;
    margin-top: 0;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0 25px;
    font-size: 21px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    /* height: calc(100vh - 120px); */
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    /* background-color: rgb(255, 255, 255); */
    margin: 30px auto;
    /* margin-top: 100px; */
    box-shadow: 4px 3px 5px rgba(1, 1, 1, alpha);
    border-radius: 10px;
}

.title_small {
    font-size: 20px;
}

.form_container {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
    color: white;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: gray;
}
option{
    color: white;
    background-color: black;
}
textarea:focus, input:focus {
    outline-color: rgb(126, 15, 205);
}
.formerror{
    font-size: 14px;
    color: red;
}
.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: red;
    background: linear-gradient(purple,#551c69, blue);
    border: solid transparent 2px;
    padding: 5px 5px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: #ccc;
    background: linear-gradient(rgb(209, 56, 209),#87459f, rgb(100, 100, 245));
    border: 2px solid blueviolet;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea_control {
    grid-column: 1 /span 2;
}

.textarea_control textarea {
    width: 100%;
}

@media (max-width:460px) {
    .textarea_control {
        grid-column: 1 /span 1;
    }

    header {
        margin: auto;
        background-color: black;
        color: aqua;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 100vw;
        padding: 7px;
    }

    nav ul li {
        font-size: 21px;
        padding: 5px;
        margin: 5px;
    }
    
}

footer {
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    width: 100vw;
    margin-top: auto;
}
h1{
    color: white;
}